		<!--Footer Section-->
		<div class="container-fluid bg-dark text-white py-5">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-4">
						<p>Quick Links</p>
						<p>
							<a class="text-decoration-none" href="">FAQ</a>
						</p>
						<p>
							<a class="text-decoration-none" href="">Services</a>
						</p>
						<p>
							<a class="text-decoration-none" href="">Work</a>
						</p>
						<p>
							<a class="text-decoration-none" href="">Learn</a>
						</p>
					</div>
					<div class="col-md-4">
						<p>Social Links</p>

						<div>
							<a class="text-primary fs-3" href=""
								><i class="bi bi-facebook"></i
							></a>
							<a class="mx-2 text-danger fs-3" href=""
								><i class="bi bi-instagram"></i
							></a>
							<a class="mx-2 text-info fs-3" href=""
								><i class="bi bi-twitter"></i
							></a>
						</div>
					</div>
					<div class="col-md-4">
						<p>Contact Us</p>
						<div>
							<a class="text-secondary fs-3" href="tel:+008000000000"
								><i class="bi bi-telephone"></i
							></a>
							<a class="text-secondary fs-3 mx-2" href="mailto:admin@gmail.com">
								<i class="bi bi-envelope"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--End Footer Section-->