{% extends 'partials/base.html' %}
{% block title %}Reservation Page{% endblock %}

{% block content %}

{% include 'partials/topnav.html' %}


<!--tables-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <table class="table bg-white">
                <thead class="bg-info text-white">
                <tr class="text-white">
                    <th scope="col">#</th>
                    <th scope="col">Reserve By</th>
                    <th scope="col">Room</th>
                    <th scope="col">Category</th>
                    <th scope="col">Check In</th>
                    <th scope="col">Check out</th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                    {% for approve in approve %}
                <tr>
                    <th scope="row">{{ booking.id }}</th>
                    <td>{{ booking.user }}</td>
                    <td>{{ booking.room }}</td>
                    <td>{{ booking.room.category }}</td>
                    <td>{{ booking.check_in }}</td>
                    <td>{{ booking.check_out }}</td>
                    <td><a class="btn btn-info btn-sm" type="submit" href="">approve</a></td>
                    <td><a class="btn btn-danger btn-sm" type="reject" href="">reject</a></td>
                    
                    
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
  </div>
  <!--End Tables-->
{% endblock %}
