{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}

{% block content %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partials/topnav.html' %}

 <!--Graphs-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6">
                <div class="bg-white">
                        <canvas id="myChart1" width="400" height="300"></canvas>
                    <script>
                        const ctx1 = document.getElementById('myChart1');
                    
                        new Chart(ctx1, {
                        type: 'pie',
                        data: {
                            labels: [{% for order in orders %} '{{ order.product.name }}', {% endfor %}],
                            datasets: [{
                            label: 'Orders',
                            data: [{% for order in orders %} {{ order.order_quantity }}, {% endfor %}],
                            borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                            y: {
                                beginAtZero: true
                            }
                            }
                        }
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bg-white">
                        <canvas id="myChart" width="400" height="300"></canvas>
                    <script>
                        const ctx= document.getElementById('myChart');
                    
                        new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for product in products %} '{{ product.name }}', {% endfor %}],
                            datasets: [{
                            label: 'Products',
                            data: [{% for product in products %} {{ product.quantity }}, {% endfor %}],
                            borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                            y: {
                                beginAtZero: true
                            }
                            }
                        }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
  <!--End Graphs-->
{% else %}
{% include 'dashboard/staff_index.html' %}
{% endif %}
{% endblock %}